.footer {
    display: inline-block;

    margin: 50px 0;
    padding: 10px;

    border: 1px dotted grey;
    border-radius: 10px;

    &-text {
        color: black;
        font-size: 24px;
        font-family: 'Open Sans Bold';
    }

    &-subtext {
        color: grey;
        font-size: 15px;
        font-family: 'Open Sans Light';
    }
}