.header {
    margin-top: 50px;

    &-text {
        font-family: 'Open Sans Bold';
        font-size: 50px;
    }

    &-subtext{
        font-family: 'Open Sans Light';
        font-size: 20px;
    }
}