.gameboard {
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 3px;

    margin: 10px;
}

.gameboard-cell {
    width: 30px; 
    height: 30px;

    border: 0.5px solid black;
}

.gameboard-cell:hover {
    background-color: rgb(235, 235, 235);
}

.ship {
    background-color: black;
}