@import 'sections/header';
@import 'sections/playArea';
@import 'sections/controls';
@import 'sections/footer';

@import 'objects/button';
@import 'objects/gameboardCell';
@import 'objects/gameboard';
@import 'objects/modal';


@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/Open Sans Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/Open Sans Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/Open Sans Light.ttf');
}


body {
    background-color: black;

    text-align: center;
}