@import 'objects/gameboardCell.scss';
@import 'objects/gameboard.scss';

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/Open Sans Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/Open Sans Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/Open Sans Light.ttf');
}