@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/Open Sans Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/Open Sans Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/Open Sans Light.ttf');
}

.gameboard {
    margin: 10px;
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.gameboard-cell {
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
}