@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/Open Sans Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/Open Sans Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/Open Sans Light.ttf');
}

.gameboard {
    margin: 30px;
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    border: 1px solid black;
}

.gameboard-cell {
    padding: 0;
    width: 30px;
    height: 30px;
    outline: 0.5px solid black; 
}