@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/Open Sans Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/Open Sans Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/Open Sans Light.ttf');
}

.gameboard {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(10, 35px);
}

.gameboard-cell {
    border: 1px solid black;
}