.gameboard {
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 3px;

    margin: 5px 15px;

    &-inactive div {
        border: 0.5px solid lightgrey;
    
        pointer-events: none;
    }
}