.cell {
    width: 30px; 
    height: 30px;

    border: 0.5px solid black;

    &-computer:hover {
        background-color: rgb(225, 225, 225);
    
        cursor: pointer;
    }
    
    &-hit {
        background-color: rgb(200, 105, 105);
    }
    
    &-miss {
        background-color: rgb(135, 165, 235);    
    }
    
    &-ship {
        background-color: rgb(205, 205, 205);
    }
    
    &-hit, &-miss, &-player {
        pointer-events: none;
    }
}