.cell {
    width: 30px; 
    height: 30px;

    border: 0.5px solid white;

    &-computer:hover {
        background-color: rgba(125, 125, 125, 0.5);
    
        cursor: pointer;
    }
    
    &-hit {
        background-color: lime;
    }
    
    &-miss {
        background-color: grey;
    }
    
    &-ship {
        background-color: white;
    }
    
    &-hit, &-miss, &-player {
        pointer-events: none;
    }
}