.link {
    display: inline-block;

    margin-right: 10px;

    color: grey;
    font-family: 'Open Sans Regular';
    font-size: 14px;
    text-decoration: underline;

    cursor: pointer;
    user-select: none;

    &:hover{
        text-decoration: none;
    }
} 